/* Modal CSS START */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 5px 5px 5px black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal CSS END */

form {
    display: grid;
    width: 90%;
}

input {
    margin-bottom: 10px;
}

.submit-button, .reset-button {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 40%;
}

.dom-msg {
    /*TODO: Remove border before project is done, its just there so I can see it!! */
    border: 1px solid blue;
    width: 90%;
    height: 50px;
    margin-top: 20px;
}